<div class="container">
  <h1 class="mb-3">Quiz Results</h1>

  <p>Your Score: <%= @score %> / <%= @questions.count %></p>

  <% if @score >= (@questions.count * 0.7) %>
  <p>Congratulations! You passed the quiz.</p>
  <% else %>
    <p>Sorry, you did not pass the quiz. Better luck next time.</p>
  <% end %>

  <h2>Correct Answers:</h2>
  <ul>
    <% @correct_answers.each do |correct_answer| %>
      <li><%= Answer.find(correct_answer).content %></li>
    <% end %>
  </ul>
<%= link_to "Try again", quiz_path(@quiz), class: "btn btn-outline-primary"  %>
<%= link_to "Back to Topics", subject_path, class: "btn btn-outline-primary"  %>
</div>
