<div class="container-quiz py-5">
  <div class="card mx-auto bg-light" style="width: 70rem;">
    <h2><%= @quiz.name %></h2>
    <%= link_to 'question', quiz_question_path(@quiz, @questions.first) %>



    <div class="card-quiz">

    <div class="progress-bar">
      <div class="progress" id="progress-bar"></div>
      <span class="progress-text" id="progress-text">0%</span>
    </div>
    <% @questions.each_with_index do |question, index| %>
      <fieldset>
        <legend><%= question.content %></legend>
        <div class="question-content">
          <% question.answers.each do |answer| %>
            <div class="multiple-choice-box">
              <label>
                <%= radio_button_tag("answers_#{question.id}", answer.id, false, class: "radio-input") %>
                <span class="answer-content"><%= answer.content %></span>
              </label>
            </div>
          <% end %>
        </div>

        <div class="question-progress">
          <span class="question-progress-text" id="progress-question-<%= index %>">0%</span>
        </div>
      </fieldset>
    <% end %>
    <div class="card-link py-3">
    </div>
</div>
</div>
</div>
